<form action="action_page.php" method="post">
    <div class="imgcontainer">
      <img src="img_sec.png" alt="Sec" class="sec">
    </div>
  
    <div class="container">
        <label for="uname"><b>Username&ensp;</b></label>
        <input type="text" placeholder="Enter Username" name="uname" required>
        <br>
        <label for="psw"><b>Password&emsp;</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>
        <br>
        <button type="submit">Login</button>
    </div>

    <div class="container" style="background-color:#f1f1f1">
        <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
</form>